*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.img1{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 1080px;
}

.img2{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 968px;
}

.img3{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 1288px;
}

.img4{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 1307px;
}

.img5{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 1083px;
}

.img6{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 1594px;
}

.img7{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 1718px;
}

.img8{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 3343px;
}

.video1{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 1080px;
}

.img9{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 2043px;
}

.img10{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 3084px;
}

.img11{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 3208px;
}

.img12{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 437px;
}

.img13{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 1205px;
}

.img14{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 1114px;
}

.img15{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 1411px;
}

.img16{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 1389px;
}

.img17{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 1652px;
}

.img18{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 1613px;
}

.img19{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 1358px;
}